In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
data = pd.read_csv('/Users/surisettivamsikrishna/Downloads/Vamsi Pc/CODES/Mark 3/Trade Analyse/PL.csv')
data.head(3)

,Pre Funds,DATE,STOCK,OPTED,VOLUME,RSI,RR,TAR RR,PR0 / LOSS,Brokerage,NET,Post Funds
0,4000,August 5,TATA Motors,BUY,1.4M u - 450k,30,2,2.0,210.0,20.89,190.69,4190.0
1,4190,August 7,TATA Motors,No Data,NO DATA AVAILABLE,NaN,NaN,NaN,126.0,22.1,-148.00,4042.0
2,4042,August 8,TATA Motors,NaN,NaN,NaN,NaN,NaN,169.0,21.61,-190.71,3851.0

In [6]:
columns = data.columns.tolist()
columns

['Pre Funds ',
 'DATE',
 'STOCK',
 'OPTED',
 'VOLUME',
 'RSI',
 'RR',
 'TAR RR',
 'PR0 / LOSS',
 'Brokerage',
 'NET',
 'Post Funds ']

In [28]:
x = data.size # to know the Rows and columns, no of elements 
rows= data.shape[0] #to know the no of rows and columns
columns = data.shape[1]
print(
    f"{rows} x {columns}\n" # \n is for new line(backlash)
    f"\nNO of elements is {x}"   # File pointer : f"{}"" is the syntax 
    )

52 x 12

NO of elements is 624

In [53]:
def fill_empty_cells(data, column_name, value):
    data[column_name] = data[column_name].fillna(value,inplace=True)  # Fill NaN with the value for the specific column
    return data

In [55]:
data['Brokerage'] = fill_empty_cells(data, 'Brokerage',30)

ValueError: Columns must be same length as key

In [56]:
def fill_empty_cells(data, column_name, value):
    data[column_name].fillna(value, inplace=True)  # Fill NaN values in the column with the specified value
    return data

data = fill_empty_cells(data, 'Brokerage', 30)  # This will fill NaN values in 'Brokerage' with 30