In [63]:
#importing Libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [64]:
#reading data
data = pd.read_csv('/Users/surisettivamsikrishna/Downloads/Vamsi Pc/CODES/Mark 3/Trade Analyse/PL.csv')
data.head(3)

,Pre Funds,DATE,STOCK,OPTED,VOLUME,RSI,RR,TAR RR,PR0 / LOSS,Brokerage,NET,Post Funds
0,4000,August 5,TATA Motors,BUY,1.4M u - 450k,30,2,2.0,210.0,20.89,190.69,4190.0
1,4190,August 7,TATA Motors,No Data,NO DATA AVAILABLE,NaN,NaN,NaN,126.0,22.1,-148.00,4042.0
2,4042,August 8,TATA Motors,NaN,NaN,NaN,NaN,NaN,169.0,21.61,-190.71,3851.0

In [65]:
#trung to find the columns
columns = data.columns.tolist()
columns

['Pre Funds ',
 'DATE',
 'STOCK',
 'OPTED',
 'VOLUME',
 'RSI',
 'RR',
 'TAR RR',
 'PR0 / LOSS',
 'Brokerage',
 'NET',
 'Post Funds ']

In [66]:
#to know the no of rows and columns

x = data.size # to know the Rows and columns, no of elements 
rows= data.shape[0] #to know the no of rows and columns
columns = data.shape[1]
print(
    f"{rows} x {columns}\n" # \n is for new line(backlash)
    f"\nNO of elements is {x}"   # File pointer : f"{}"" is the syntax 
    )

52 x 12

NO of elements is 624

In [67]:
#defining the function to fill the empty cells
def fill_empty_cells(data, column_name, value):
    data[column_name] = data[column_name].fillna(value,inplace=True)  # Fill NaN with the value for the specific column
    return data

In [68]:
data.tail(6)

,Pre Funds,DATE,STOCK,OPTED,VOLUME,RSI,RR,TAR RR,PR0 / LOSS,Brokerage,NET,Post Funds
46,MONTH,NO OF TRADES,REALIZED PL,CHARGES,NET REALIZED\nPL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,January-2025,8,-₹ 126.37,₹ 239.70,-₹ 366.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,November-2024,5,-₹ 947.90,₹ 119.17,"-₹ 1,067.07",NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,October-2024,14,₹ 341.05,₹ 596.97,-₹ 255.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,September-2024,2,-₹ 469.45,₹ 110.01,-₹ 579.46,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,August-2024,11,-₹ 151.10,₹ 237.74,-₹ 388.84,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
data.iloc[:-6].to_csv('/Users/surisettivamsikrishna/Downloads/Vamsi Pc/CODES/Mark 3/Trade Analyse/PL.csv', index=False)
data.tail(6).to_csv('/Users/surisettivamsikrishna/Downloads/Vamsi Pc/CODES/Mark 3/Trade Analyse/PL.csv', index=False)

In [62]:
def fill_empty_cells(data, column_name, value):
    data[column_name].fillna(value, inplace=True)  # Fill NaN values in the column with the specified value
    return data

data = fill_empty_cells(data, 'Brokerage', 30)  # This will fill NaN values in 'Brokerage' with 30

In [ ]:
data['Brokerage'] = fill_empty_cells(data, 'Brokerage',30)

In [70]:
data1 = pd.read_csv('/Users/surisettivamsikrishna/Downloads/Vamsi Pc/CODES/Mark 3/Trade Analyse/data.csv')
data1 = data1.iloc[:-7]
data1.tail(5)

,Pre Funds,DATE,STOCK,OPTED,VOLUME,RSI,RR,TAR RR,PR0 / LOSS,Brokerage,NET,Post Funds
34,7979.90,9 Jan,M&M,Sell,60k-24k,73,L,1.9,-106.75,NaN,-136.79,7843.11
35,7843.11,10 Jan,IREDA,Buy,4M-1.7M,28,L,2.0,-197.47,NaN,-210.51,7632.60
36,7632.60,13 Jan,TCS,Sell,NO,NaN,L,2.0,-167.70,NaN,-140.56,7492.04
37,7492.04,14 Jan,Reliance,BUY,NaN,NaN,L,2.0,-91.00,NaN,-64.56,7427.48
38,7427.48,20 Jan,LT,Sell,39K ↑ - 26k,77,Lx2,3.0,-53.00,NaN,-129.20,7298.28

In [73]:
data1.head(40)

,Pre Funds,DATE,STOCK,OPTED,VOLUME,RSI,RR,TAR RR,PR0 / LOSS,Brokerage,NET,Post Funds
0,4000.00,August 5,TATA Motors,BUY,1.4M u - 450k,30,2,2.00,210.00,NaN,190.69,4190.00
1,4190.00,August 7,TATA Motors,No Data,NO DATA AVAILABLE,NaN,NaN,NaN,126.00,NaN,-148.00,4042.00
2,4042.00,August 8,TATA Motors,NaN,NaN,NaN,NaN,NaN,169.00,NaN,-190.71,3851.00
3,3851.00,August 12,TATA Motors,NaN,NaN,NaN,NaN,NaN,88.00,NaN,-108.79,3742.21
4,3742.21,August 13,TATA Motors,NaN,NaN,NaN,NaN,NaN,115.94,NaN,77.44,3819.65
5,3819.65,August 14,TATA Motors,NaN,NaN,NaN,NaN,NaN,141.15,NaN,122.06,3919.50
6,NaN,August 16,TATA Motors,NaN,NaN,NaN,NaN,NaN,-200.00,NaN,-221.00,NaN
7,NaN,August 19,TATA Motors,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-7.00,NaN
8,3708.00,August 20,TATA Motors,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.00,NaN
9,3690.00,August 21,TATA Motors,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-30.00,3690.00
10,3690.00,August 22,TATA Motors,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-90.00,3566.00
11,8587.61,11 Sep,Oracle,Buy,33k,65,Loss,1.88,-300.00,NaN,-456.00,8387.00
12,8287.00,11 Sep,Oracle,sell,247,54,Loss,2.00,-100.00,NaN,NaN,NaN
13,8123.00,12 Sep,Oracle,Sell,17k,60,Loss,2.00,-85.00,NaN,-122.00,8123.00
14,18284.00,October 10,TCS,SELL,11.8k (Pump),60ish,2,2.00,380.00,NaN,289.00,18573.00
15,NaN,NaN,NaN,NaN,15k,71,2,1.50,NaN,NaN,NaN,NaN
16,18573.00,October 11,Adani Ent,SELL,13k,61,2,2.00,242.00,NaN,221.00,18743.00
17,18743.00,October 14,LT,SELL,7k,60ish,1,2.00,210.00,NaN,159.00,18954.00
18,18953.00,October 15,South INdian Bk,SELL,"Typical Data, why lost AMS is bad SL placement...",NaN,NaN,NaN,51.00,NaN,-141.00,18843.00
19,NaN,October 15,Apollo MS,SELL,NaN,NaN,NaN,NaN,-193.00,NaN,NaN,NaN
20,18843.00,October 17,Infy,SELL,118k,70,1.2,2.00,211.35,NaN,169.53,18956.00
21,18956.00,October 18,LT,SELL,48k,57,0.45,1.50,55.00,NaN,17.00,18974.00
22,18974.00,October 22,Tata Motors,Buy,NaN,NaN,NaN,NaN,-250.00,NaN,-147.00,18826.00
23,NaN,NaN,Reliance,Sell,NaN,NaN,NaN,NaN,200.00,NaN,NaN,NaN
24,NaN,NaN,Hdfc Life,NaN,50k,47 down,1.44,1.44,72.00,NaN,NaN,NaN
25,18826.00,October 23,Tech M,Sell,63,54k,-L,1.05,-582.00,NaN,-634.00,18197.00
26,18197.00,October 30,Wipro,?,NO Data,NaN,NaN,NaN,-115.00,NaN,-163.00,18000.00
27,8743.00,7 November,tata steel,BUY,Didnt even bothered to record,NaN,NaN,NaN,-132.00,NaN,-165.00,8578.00
28,8578.00,8 Nov,AB Fashion,BUY,NaN,NaN,NaN,NaN,-548.00,NaN,-582.00,7996.00
29,7970.00,13 November,NTPC,SELL,NaN,NaN,NaN,NaN,-97.00,NaN,-71.00,7899.00
30,7899.00,18 Nov,Tata Motors,SELL,NaN,NaN,NaN,NaN,-169.00,NaN,-144.00,7755.00
31,7628.00,6 Jan,LT,Buy,40k,43,2,2.00,-1.00,NaN,-1.00,7627.00
32,7529.00,7 Jan,Titan,SELL,136k-81k,76,1.13,2.00,261.00,NaN,234.58,7763.58
33,7763.58,8 Jan,TRENT,Buy,88k-52k,8,3.5,2.60,228.00,NaN,216.32,7979.90
34,7979.90,9 Jan,M&M,Sell,60k-24k,73,L,1.90,-106.75,NaN,-136.79,7843.11
35,7843.11,10 Jan,IREDA,Buy,4M-1.7M,28,L,2.00,-197.47,NaN,-210.51,7632.60
36,7632.60,13 Jan,TCS,Sell,NO,NaN,L,2.00,-167.70,NaN,-140.56,7492.04
37,7492.04,14 Jan,Reliance,BUY,NaN,NaN,L,2.00,-91.00,NaN,-64.56,7427.48
38,7427.48,20 Jan,LT,Sell,39K ↑ - 26k,77,Lx2,3.00,-53.00,NaN,-129.20,7298.28

In [74]:
def nan_filler(data1,fill_value):
    for column, value in fill_value.items():
        data1[column]= data1[column].fillna(value)
    return data1

In [75]:
data1.head(1)

,Pre Funds,DATE,STOCK,OPTED,VOLUME,RSI,RR,TAR RR,PR0 / LOSS,Brokerage,NET,Post Funds
0,4000.0,August 5,TATA Motors,BUY,1.4M u - 450k,30,2,2.0,210.0,NaN,190.69,4190.0

In [76]:
def fill_date( data1, column_name):
    data1[column_name]= data1[column_name].fillna(method='ffill')
    return data1

data1 = fill_date(data1, 'DATE')
data1.head(39)

/var/folders/10/4p6gdwfx3g74kjfj2_xqxz140000gn/T/ipykernel_39513/369396471.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data1[column_name]= data1[column_name].fillna(method='ffill')

,Pre Funds,DATE,STOCK,OPTED,VOLUME,RSI,RR,TAR RR,PR0 / LOSS,Brokerage,NET,Post Funds
0,4000.00,August 5,TATA Motors,BUY,1.4M u - 450k,30,2,2.00,210.00,NaN,190.69,4190.00
1,4190.00,August 7,TATA Motors,No Data,NO DATA AVAILABLE,NaN,NaN,NaN,126.00,NaN,-148.00,4042.00
2,4042.00,August 8,TATA Motors,NaN,NaN,NaN,NaN,NaN,169.00,NaN,-190.71,3851.00
3,3851.00,August 12,TATA Motors,NaN,NaN,NaN,NaN,NaN,88.00,NaN,-108.79,3742.21
4,3742.21,August 13,TATA Motors,NaN,NaN,NaN,NaN,NaN,115.94,NaN,77.44,3819.65
5,3819.65,August 14,TATA Motors,NaN,NaN,NaN,NaN,NaN,141.15,NaN,122.06,3919.50
6,NaN,August 16,TATA Motors,NaN,NaN,NaN,NaN,NaN,-200.00,NaN,-221.00,NaN
7,NaN,August 19,TATA Motors,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-7.00,NaN
8,3708.00,August 20,TATA Motors,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.00,NaN
9,3690.00,August 21,TATA Motors,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-30.00,3690.00
10,3690.00,August 22,TATA Motors,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-90.00,3566.00
11,8587.61,11 Sep,Oracle,Buy,33k,65,Loss,1.88,-300.00,NaN,-456.00,8387.00
12,8287.00,11 Sep,Oracle,sell,247,54,Loss,2.00,-100.00,NaN,NaN,NaN
13,8123.00,12 Sep,Oracle,Sell,17k,60,Loss,2.00,-85.00,NaN,-122.00,8123.00
14,18284.00,October 10,TCS,SELL,11.8k (Pump),60ish,2,2.00,380.00,NaN,289.00,18573.00
15,NaN,October 10,NaN,NaN,15k,71,2,1.50,NaN,NaN,NaN,NaN
16,18573.00,October 11,Adani Ent,SELL,13k,61,2,2.00,242.00,NaN,221.00,18743.00
17,18743.00,October 14,LT,SELL,7k,60ish,1,2.00,210.00,NaN,159.00,18954.00
18,18953.00,October 15,South INdian Bk,SELL,"Typical Data, why lost AMS is bad SL placement...",NaN,NaN,NaN,51.00,NaN,-141.00,18843.00
19,NaN,October 15,Apollo MS,SELL,NaN,NaN,NaN,NaN,-193.00,NaN,NaN,NaN
20,18843.00,October 17,Infy,SELL,118k,70,1.2,2.00,211.35,NaN,169.53,18956.00
21,18956.00,October 18,LT,SELL,48k,57,0.45,1.50,55.00,NaN,17.00,18974.00
22,18974.00,October 22,Tata Motors,Buy,NaN,NaN,NaN,NaN,-250.00,NaN,-147.00,18826.00
23,NaN,October 22,Reliance,Sell,NaN,NaN,NaN,NaN,200.00,NaN,NaN,NaN
24,NaN,October 22,Hdfc Life,NaN,50k,47 down,1.44,1.44,72.00,NaN,NaN,NaN
25,18826.00,October 23,Tech M,Sell,63,54k,-L,1.05,-582.00,NaN,-634.00,18197.00
26,18197.00,October 30,Wipro,?,NO Data,NaN,NaN,NaN,-115.00,NaN,-163.00,18000.00
27,8743.00,7 November,tata steel,BUY,Didnt even bothered to record,NaN,NaN,NaN,-132.00,NaN,-165.00,8578.00
28,8578.00,8 Nov,AB Fashion,BUY,NaN,NaN,NaN,NaN,-548.00,NaN,-582.00,7996.00
29,7970.00,13 November,NTPC,SELL,NaN,NaN,NaN,NaN,-97.00,NaN,-71.00,7899.00
30,7899.00,18 Nov,Tata Motors,SELL,NaN,NaN,NaN,NaN,-169.00,NaN,-144.00,7755.00
31,7628.00,6 Jan,LT,Buy,40k,43,2,2.00,-1.00,NaN,-1.00,7627.00
32,7529.00,7 Jan,Titan,SELL,136k-81k,76,1.13,2.00,261.00,NaN,234.58,7763.58
33,7763.58,8 Jan,TRENT,Buy,88k-52k,8,3.5,2.60,228.00,NaN,216.32,7979.90
34,7979.90,9 Jan,M&M,Sell,60k-24k,73,L,1.90,-106.75,NaN,-136.79,7843.11
35,7843.11,10 Jan,IREDA,Buy,4M-1.7M,28,L,2.00,-197.47,NaN,-210.51,7632.60
36,7632.60,13 Jan,TCS,Sell,NO,NaN,L,2.00,-167.70,NaN,-140.56,7492.04
37,7492.04,14 Jan,Reliance,BUY,NaN,NaN,L,2.00,-91.00,NaN,-64.56,7427.48
38,7427.48,20 Jan,LT,Sell,39K ↑ - 26k,77,Lx2,3.00,-53.00,NaN,-129.20,7298.28

In [87]:
brok = pd.read_csv('/Users/surisettivamsikrishna/Downloads/Vamsi Pc/CODES/Mark 3/Trade Analyse/last_6.csv')
brok.head(6)

,Pre Funds,DATE,STOCK,OPTED,VOLUME,RSI,RR,TAR RR,PR0 / LOSS,Brokerage,NET,Post Funds
0,MONTH,NO OF TRADES,REALIZED PL,CHARGES,NET REALIZED\nPL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,January-2025,8,-₹ 126.37,₹ 239.70,-₹ 366.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,November-2024,5,-₹ 947.90,₹ 119.17,"-₹ 1,067.07",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,October-2024,14,₹ 341.05,₹ 596.97,-₹ 255.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,September-2024,2,-₹ 469.45,₹ 110.01,-₹ 579.46,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,August-2024,11,-₹ 151.10,₹ 237.74,-₹ 388.84,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
brok.columns = brok.iloc[0]
brok = brok.drop(0)
brok = brok.reset_index(drop=True)
brok = brok.iloc[:,:-7]

brok.head(6)
brokerage = brok.to_csv('/Users/surisettivamsikrishna/Downloads/Vamsi Pc/CODES/Mark 3/Cleaned_Data/Brokerage.csv',index=False)

In [93]:
brok.dtypes

0
MONTH                object
NO OF TRADES          int64
REALIZED PL           int64
CHARGES               int64
NET REALIZED\nPL      int64
AVGPL/TRADE         float64
BROK/TRADE          float64
dtype: object

In [92]:
# Remove ₹, commas, and non-breaking spaces (\xa0), and then convert to float and int
brok['CHARGES'] = brok['CHARGES'].replace({'₹': '', ',': ''}, regex=True).astype(float).astype(int)
brok['REALIZED PL'] = brok['REALIZED PL'].replace({'₹': '', ',': '', '\xa0': ''}, regex=True).astype(float).astype(int)
brok['NET REALIZED\nPL'] = brok['NET REALIZED\nPL'].replace({'₹': '', ',': '', '\xa0': ''}, regex=True).astype(float).astype(int)
brok['NO OF TRADES'] = brok['NO OF TRADES'].astype(int)
brok['AVGPL/TRADE']=brok['AVGPL/TRADE'].astype(int)
brok['BROK/TRADE']=brok['BROK/TRADE'].astype(int)
brok['AVGPL/TRADE']=brok['NET REALIZED\nPL']/brok['NO OF TRADES']
brok['BROK/TRADE']=brok['CHARGES']/brok['NO OF TRADES']

brok.dtypes

0
MONTH                object
NO OF TRADES          int64
REALIZED PL           int64
CHARGES               int64
NET REALIZED\nPL      int64
AVGPL/TRADE         float64
BROK/TRADE          float64
dtype: object

In [94]:
brok.head(6)

,MONTH,NO OF TRADES,REALIZED PL,CHARGES,NET REALIZED\nPL,AVGPL/TRADE,BROK/TRADE
0,January-2025,8,-126,239,-366,-45.750000,29.875000
1,November-2024,5,-947,119,-1067,-213.400000,23.800000
2,October-2024,14,341,596,-255,-18.214286,42.571429
3,September-2024,2,-469,110,-579,-289.500000,55.000000
4,August-2024,11,-151,237,-388,-35.272727,21.545455

In [85]:
data1.head(6)

,Pre Funds,DATE,STOCK,OPTED,VOLUME,RSI,RR,TAR RR,PR0 / LOSS,Brokerage,NET,Post Funds
0,4000.00,August 5,TATA Motors,BUY,1.4M u - 450k,30,2,2.0,210.00,NaN,190.69,4190.00
1,4190.00,August 7,TATA Motors,No Data,NO DATA AVAILABLE,NaN,NaN,NaN,126.00,NaN,-148.00,4042.00
2,4042.00,August 8,TATA Motors,NaN,NaN,NaN,NaN,NaN,169.00,NaN,-190.71,3851.00
3,3851.00,August 12,TATA Motors,NaN,NaN,NaN,NaN,NaN,88.00,NaN,-108.79,3742.21
4,3742.21,August 13,TATA Motors,NaN,NaN,NaN,NaN,NaN,115.94,NaN,77.44,3819.65
5,3819.65,August 14,TATA Motors,NaN,NaN,NaN,NaN,NaN,141.15,NaN,122.06,3919.50